:root {
  --header-background-color: #348ebf;
  --header-height: 20vh;
  --header-height-mobile: 10vh;
  --header-margin-calculated: calc(3 * var(--home-page-padding));
  --header-margin: var(--header-margin-calculated) 0
    var(--header-margin-calculated) 0;
}

.Header {
  height: var(--header-height);
  background-color: var(--header-background-color);
  position: relative;
  z-index: 1;
  margin: var(--header-margin);
  box-sizing: border-box;
}

.HeaderMobile {
  height: var(--header-height-mobile);
}

.NameWrapper {
  color: #ebe2e2;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
}

.NameWrapperBrowser {
  width: var(--vertical-stripe-width);
}
